<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceClientCompte" />
                <binding name="BasicHttpBinding_ServiceClientOvrague" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ServiceClientCompte" />
                <binding name="NetTcpBinding_ServiceClientOvrague" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:12345/Account" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ServiceClientCompte" contract="ServiceWcf.ServiceClientCompte"
                name="NetTcpBinding_ServiceClientCompte">
                <identity>
                    <userPrincipalName value="DESKTOP-9BBSAIN\Mehdi" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/Account" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ServiceClientCompte"
                contract="ServiceWcf.ServiceClientCompte" name="BasicHttpBinding_ServiceClientCompte" />
            <endpoint address="net.tcp://localhost:12345/Account" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ServiceClientOvrague"
                contract="ServiceWcf.ServiceClientOvrague" name="NetTcpBinding_ServiceClientOvrague">
                <identity>
                    <userPrincipalName value="DESKTOP-9BBSAIN\Mehdi" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/Account" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ServiceClientOvrague"
                contract="ServiceWcf.ServiceClientOvrague" name="BasicHttpBinding_ServiceClientOvrague" />
        </client>
    </system.serviceModel>
</configuration>